
server:
  cache_control_max_age: 1d
  dryrun: false
  ignore_compose_stack_name_keywords:
    - devcontainer
  possible_homepage_labels:  # order matters!
    - org.label-schema.url
    - org.opencontainers.image.url
    - org.opencontainers.image.source
  possible_image_version_labels:  # order matters!
    - org.label-schema.version
    - org.opencontainers.image.version
  time_until_update_is_mature: 1w

auto_updater:
  enabled: false
  interval: 1d
  max_concurrent: 1
