
services:
  vsc-docking-station:
    build:
      context: ".."
      dockerfile: .devcontainer/Dockerfile
    container_name: vsc-docking-station
    environment:
      - WEB_PORT=3000
      - SERVER_PORT=3001
      # - AUTO_UPDATER_ENABLED=false
    volumes:
      - vsc-docking-station-vscode-server:/root/.vscode-server
      - ..:/workspaces/docking-station:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
      - /mnt/big-vault/appdata/compose:/mnt/big-vault/appdata/compose
    labels:
      # for homepage dashboard widget. More info: https://gethomepage.dev/latest/configs/docker/#automatic-service-discovery
      - homepage.group=Dev Containers
      - homepage.name=vsc-docking-station
      - homepage.icon=code
      - homepage.href=http://localhost:3000

volumes:
  vsc-docking-station-vscode-server:
