.label {
    padding-top: 0;
}

.control {
    padding: 0;

    &:hover {
        background-color: transparent;
    }
}

.item {
    background-color: var(--mantine-color-body);
    border: none;
}

.content {
    padding: 0;
}